.navbar {
  background-color: rgb(197, 45, 45);
  padding: 10px;
  flex-direction: column;
  text-align: center;
}

.link {
  color: white;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 25px;
}

footer {
  background-color: rgb(197, 45, 45);
  padding: 10px;
  text-align: center;
}

.f-text {
  color: white;
  margin-bottom: 10px;
}

.button-logout {
  text-align: right;
  padding: 5px;
}
